.navBarMain {
  width: 100%;
  padding: 0 20px;
  background: #fff;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  position: sticky;
  top: 0;
  z-index: 102;
  align-items: center;
  height: 68px;
  justify-content: space-between;
  gap: 1rem;
}
.navBarLogo{
  background-image: url('../assets/beyond-exams-logo.svg');
  height: 67px;
  width: 107px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
.navSearchInput{
  border: none;
  background-color: white;
  width: 0px;
  height: 55px;
  border-radius: 50px;
  margin-left: -7px;
  transition: all 300ms ease;
}
.navSearchInput.navSearchActive{
  outline: none;
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  box-shadow: 0 4px 9px rgb(0 0 0 / 25%);
  margin-left: 0px;
}
.navSearchButton {
  color: #fff;
  width: 55px;
  min-width: 55px;
  height: 55px;
  border-radius: 50%;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.navSearchArea {
  display: flex;
  align-items: center;
  background-color: var(--primary-background);
  width: 100%;
  border-radius: 50px;
  gap: 0.5rem;
  padding-right: 0.5rem;
}
.navSearchArea.navSearchActive {
  padding-right: 0%;
}

.navCourseButton {
  border: none;
  background-color: #fff;
  border-radius: 1rem;
  padding: 0.5rem 0.7rem;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}

.navCourseButton:hover {
  color: var(--primary-color);
}

.navBarServices {
  font-size: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navCourseButton.navSearchActive,
.navBarServices.navSearchActive {
  display: none;
}
@media screen and (max-width: 600px) {
  .navCourseButton,
  .navBarServices {
    display: none;
  }
  .navSearchArea {
    width: auto;
    padding: 0%;
    background-color: inherit;
  }
  .navSearchButton {
    margin-left: auto;
  }
  .navSearchButton.navSearchActive {
    margin-left: 0%;
  }
  .navSearchInput {
    margin-left: 0%;
  }
  .navSearchInput.navSearchActive {
    margin-left: auto;
  }
  .navSearchInput::placeholder{
    font-size: 0.8rem;
  }
  .navBarLogo{
    background-image: url('../assets/beyond-exams-logo-mobile.svg');
    width: 40px;
  }
}
