.profileIcon{
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  max-width: 40px;
  padding: 2px;
  position: relative;
}
.profileIcon.student{
  border: 2px solid blue;
}
.profileIcon.teacher{
  border: 2px solid red;
}

.profileIconImg{
  width: 100%;
}

.profileTypeIcon{
  position: absolute;
  bottom: -3px;
  left: -7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid var(--primary-background)

}
.profileTypeIcon.student{
  background-color: blue;
}
.profileTypeIcon.teacher{
  background-color: red;
}